{% extends 'base.html.twig' %}


{% block title %}<title>Qui suis-je ?</title>{% endblock %}


{% block content %}

<div class="apropos">


    {# mon intro #}
    <div id="mon-intro">

        <h2 class="subtitle heading-site">Qui suis-je ?</h2>

        <div class="card">
            <div class="card-content">
                <p class="has-text-left"><i class="fas fa-quote-left fa-2x"></i></p>

                <div class="has-text-justified" id="intoQuotes">
                    <p>Bonjour à tous !</p>
                    <p>
                        Voilà un petit résumé sur moi et ce site web. J'essaye d'agrandir ma collection de vinyls. Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Vivamus risus ante, tincidunt eu neque in,
                        vulputate iaculis metus.
                        Proin vel malesuada felis. In a metus vitae ante dignissim suscipit non id tellus. Maecenas
                        commodo neque nec tellus vestibulum, sed porta nibh eleifend.
                        Ut venenatis nunc nec nibh vulputate, id sollicitudin lectus blandit. Vestibulum at libero eu
                        eros mollis finibus. Nulla augue sapien, dignissim non enim sed, lacinia iaculis lorem.
                        Vivamus luctus, ligula ut sodales egestas, urna velit egestas ex, et rutrum ex purus molestie
                        felis. Mauris tincidunt finibus fermentum. Sed non iaculis leo.
                        Maecenas varius leo interdum, ornare turpis eu, laoreet turpis. Cras elementum tellus nec dui
                        laoreet convallis. Quisque ac condimentum sem. Morbi lacinia libero euismod odio vulputate
                        viverra.
                        Maecenas tempor vestibulum sapien, ac consectetur justo varius eget.
                    </p>
                    <p>J'espère que vous passerez un bon moment ici !</p>
                </div>
                <p class="has-text-right"><i class="fas fa-quote-right fa-2x"></i></p>

                <p class="subtitle has-text-centered is-italic">
                    Anaïs
                </p>
            </div>
        </div>

    </div>


    {# ma playlist favorie #}

    <div class="video-area">

        <div class="video-banner">

            <div class="columns is-centered is-vcentered is-variable is-8">

                <div class="column is-half-desktop is-two-fifths has-text-white">
                    <figure class="image is-16by9">
                        <iframe class="has-ratio has-shadow" width="640" height="360"
                            src="https://www.youtube.com/embed/videoseries?list=PLFqnJsmyHfyd2PetrlXxgLwDNaUdB85Lv"
                            frameborder="0" allowfullscreen></iframe>
                    </figure>
                </div>

            </div>

        </div>

    </div>


    {# mes artistes favoris #}

    <div class="albums-area">

        <div class="artistes-banner">
            <div class="albums-header">
                <h1>Mes Artistes favoris</h1>
                <span><i class="fas fa-play"></i></span>
            </div>

            <div class="albums-container">

                {% for artiste in artistesFavoris %}
                <div class="artistes-element">
                    <a href="{{ path('artiste_show', {nom: artiste.nom}) }}">
                        <figure class="image is-128x128"><img class="is-rounded"
                                src="{{ asset('build/' ~ artiste.nom) }}" alt="{{ artiste.nom }}"></figure>
                    </a>

                    <a href="{{ path('artiste_show', {nom: artiste.nom}) }}">
                        <h3 class="">{{ artiste.nom }}</h3>
                    </a>

                </div>
                {% endfor %}

            </div>
        </div>

    </div>


    {# mes albums favoris #}

    <div class="albums-area">

        <div class="albums-banner">
            <div class="albums-header">
                <h1>Mes Albums favoris</h1>
                <span><i class="fas fa-play"></i></span>
            </div>

            <div class="albums-container">

                {% for album in albumsFavoris %}
                <div class="albums-element">
                    <img src="{{ asset('build/' ~ album.artiste.nom ~ '-' ~ album.titre|trim('!')) }}"
                        alt="Pochette de l'album {{ album.titre }} de {{ album.artiste.nom }}">

                    <div class="albums-element-content">
                        <h3 class="">{{ album.dateSortie }} - {{ album.titre }}</h3>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>


</div>

{% endblock %}