{% extends 'base.html.twig' %}


{% block title %}<title>Qui suis-je ?</title>{% endblock %}


{% block content %}

<div class="apropos">


    {# mon intro #}
    <div id="mon-intro">

        <div class="container" style="margin-bottom: 2rem;">
            <div class="columns is-mobile is-centered is-vcentered">
                <div class="column is-narrow">
                    <div style="border-radius: 50%; background-size: cover; background-position: center; background-image: url({{ asset('uploads/users_pp/' ~ moi.profilPicture) }}); min-width: 8rem; min-height: 8rem; width: 8rem; height: 8rem;"></div>
                </div>
                <div class="column is-narrow">
                    <h1 class="title heading-site">{{ moi.pseudo }}</h1>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <p class="has-text-left"><i class="fas fa-quote-left fa-2x"></i></p>

                <div class="has-text-justified" id="intoQuotes">
                    <p>Bonjour à tous !</p>
                    <p>{{ moi.description }}</p>
                    <p>J'espère que vous passerez un bon moment ici !</p>
                </div>
                <p class="has-text-right"><i class="fas fa-quote-right fa-2x"></i></p>

                <p class="subtitle has-text-centered is-italic">
                    {{ moi.pseudo }}
                </p>
            </div>
        </div>

    </div>


    {# ma playlist favorie #}

    <div class="video-area">

        <div class="video-banner">

            <div class="columns is-centered is-vcentered is-variable is-8">

                <div class="column is-half-desktop is-two-fifths has-text-white">
                    <figure class="image is-16by9">
                        <iframe class="has-ratio has-shadow" width="640" height="360"
                                src="{{ moi.playlistLink }}"
                            frameborder="0" allowfullscreen></iframe>
                    </figure>
                </div>

            </div>

        </div>

    </div>


    {# mes artistes favoris #}

    <div class="albums-area">

        <div class="artistes-banner">
            <div class="albums-header">
                <h1>Mes Artistes favoris</h1>
                <span><i class="fas fa-play"></i></span>
            </div>

            <div class="albums-container">

                {% for artiste in artistesFavoris %}
                <div class="artistes-element">
                    <a href="{{ path('artiste_show', {nom: artiste.nom}) }}">
                        <figure class="image is-128x128"><img class="is-rounded"
                                src="{{ asset('build/' ~ artiste.nom) }}" alt="{{ artiste.nom }}"></figure>
                    </a>

                    <a href="{{ path('artiste_show', {nom: artiste.nom}) }}">
                        <h3 class="">{{ artiste.nom }}</h3>
                    </a>

                </div>
                {% endfor %}

            </div>
        </div>

    </div>


    {# mes albums favoris #}

    <div class="albums-area">

        <div class="albums-banner">
            <div class="albums-header">
                <h1>Mes Albums favoris</h1>
                <span><i class="fas fa-play"></i></span>
            </div>

            <div class="albums-container">

                {% for album in albumsFavoris %}
                <div class="albums-element">
                    <img src="{{ asset('build/' ~ album.artiste.nom ~ '-' ~ album.titre|trim('!')) }}"
                        alt="Pochette de l'album {{ album.titre }} de {{ album.artiste.nom }}">

                    <div class="albums-element-content">
                        <h3 class="">{{ album.dateSortie }} - {{ album.titre }}</h3>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>


</div>

{% endblock %}